

#map {

/* margin-top: 5%;*/
 height: 100%; 
}


.sidenav {
    height: 100%;
    background-color: #111;
    overflow-x: hidden;
    display: block !important;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #fff !important;
    display: block;
}

#basic-addon2{

	border-radius: 0 !important;
}
.bg-dark{

/*    background: #000 !important;
    color: #fff !important;*/
}

@media only screen and (max-width: 990px) {
    .sidenav {
        display: none !important;
    }
}